<!-- 
<ul *ngIf="cartItems.length> 0" class = "list-group">
  <h4 class="d-flex justify-content-between align-items-center mb-3">
    <span class="text-muted">Your cart</span>
  </h4>  -->
<!--  <div class="card-body">
    <p class="card-text">
    </p>
    <ul  class="list-group mb-3">
      <li
        class="
          list-group-item
          active
          d-flex
          justify-content-between
          lh-condensed
        ">
      </li>
    </ul>
    </div> -->

    <div class="cart-items">
      <span>product {{cartItem.name}}</span>
      <span> qty {{cartItem.qty}}</span>
      <span> price {{cartItem.price * cartItem.qty |currency:'€ '}}</span>
    </div>
    <div>


 
    </div>
