<div class = container>
<div class="card shadow-sm">
   
    <h3>Admin setting</h3>
  <div class="row">
    <button input name="" id="" class="btn btn" type="button">
        Add New Item
      </button>
    <div
      class="col-md-4"
      *ngFor="let product of listProducts"
      style="padding-bottom: 2%"
    >
      <div class="card-text">
          <ul>
        <p>Id: {{ product.Id }}</p>
        <p>Name: {{ product.name }}</p>
        <p>ImageUrl: {{ product.Image }}</p>
        <p>category: {{ product.category }}</p>
        <p>price: {{ product.price }}</p>
        <p>quantity: {{ product.quantity }}</p>
        <p>description: {{ product.description }}</p>
    </ul>  
    </div>
      <button input name="" id="" class="btn btn" type="button">
        Update Item
      </button>
      <button input name="" id="" class="btn btn" type="button">
        delete item
      </button>
    </div>
  </div>
</div>

