.col{
    align-content: center;
    padding: 2em;
    margin: 2%;
    background-color: #03771a;
}

.card{
    background-color: #0a0a0a;
    border-color: #f0c92e;
}
.card,h6{
    text-align:  center;
    color: #f0c92e;
}
.card-body,p{
    color: #f0c92e;}
    
.card-text{
    color: #f0c92e;
}
.btn{
    background-color: #0a0a0a;
    color:#f0c92e;
    border-color: #f0c92e;
}
.alert{
    color: #f0c92e;
    background-color: #03771a;
}
.container{
    align-content: left;
    padding: 2em;
    margin: 2%;
    background-color: #03771a;
}