.col{
    align-content: center; 
    margin: 2%;
    background-color: black;
}

.card{
    background-color: black;
    border-color: white;
}
.card{
    border-color: white;
    text-align:  center;
    color: white;
}
.heading{
    /* border-color: white;  */
    text-align:  center;
    margin-top: 1.5em;
    margin-bottom: 0;
    color: white;
}
.card-body,p{
    color: white;}
    
.card-text{
    color: white;
}
.btn{
    margin: 1%;
    background-color: #0a0a0a;
    color:white;
    border-color:white;
}
.alert{
    color: white;
    background-color:black;
}
.container{
    /* align-content: left; */
    padding: 2em;
    margin: 2%;
    background-color:black;
}
.list-group-horizontal{
    margin: 1%;
    align-items: flex-start; 
     /* padding: 1em; */
}

.row-md-2{
    padding: 1em;
}
.image{
    max-width: 100px;
    max-height: 100px;
}
.allProducts{
    margin: 1em;
    padding: 1em;
}
