.col{
    align-content: center;
    padding: 2em;
    margin: 2%;
    background-color: #03771a;
}

.card{
    background-color: #0a0a0a;
    border-color: #f0c92e;
}
.card,h3{
    text-align:  center;
    color: #f0c92e;
}
.card-body,p{
    color: #f0c92e;}
    
.card-text{
    color: #f0c92e;
}
.btn{
    margin: 1%;
    background-color: #0a0a0a;
    color:#f0c92e;
    border-color: #f0c92e;
}
.alert{
    color: #f0c92e;
    background-color: #03771a;
}
.container{
    align-content: left;
    padding: 2em;
    margin: 2%;
    background-color: #03771a;
}
.form-group{
    padding: 2em;
    margin: 2%;
    align-items: flex-start;
}
.container-form{
    padding: 2%;
    margin: 3%;
    background-color: #03771a;
}
.row-md-2{
    padding: 1%;
    margin: 1%;
    text-align: left;
}
.image{
    max-width: 100px;
    max-height: 100px;
}