.card,li{
    background-color: black;
    border-color: whitesmoke;
    color: whitesmoke;

}
.text,label{
    color: whitesmoke;
}
.btn-primary{
    background-color: black;
    border-color: whitesmoke;
    color: whitesmoke;

}