.card,li{
    background-color: #f0c92e;
    border-color: #d30521;
    color: #d30521;

}
.text,label{
    color: #d30521;
}
.btn-primary{
    background-color: #f0c92e;
    border-color: #d30521;
    color: #d30521;

}