.card,li{
    background-color: black;
    border-color: #f0c92e;
    color: #f0c92e;

}
.text,label{
    color: #f0c92e;
}
.btn-primary{
    background-color: black;
    border-color: #f0c92e;
    color: #f0c92e;

}