.card{
    background-color: black;
    border-color: white;
}
.card,h6{
    margin-top: 2%;
    text-align:  center;
    color: white;
}
.card-body,p{
    color: white;}
    
.card-text{
    color: white;
}
.btn{
    background-color: black;
    color:white;
    border-color: white;
}
.text{
    color: white;
}
.container{
    align-content: center;
    padding: 2em;
    margin: 2%;
    background-color: black;
}
