<div>
    <div class="container-fluid-md">
    <h2>{{title}}</h2>
    <form>
        <img class="mb-3" src="assets/images/TheRecordboxLogo.jpg" alt="logo" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Please Input details</h1>
        <div class="form-floating">
            <input type="text" class="form-control" id="validationDefault01" placeholder="first name">
            <label for="validationDefault01">First Name</label>
          </div>
          <div class="form-floating">
            <input type="text" class="form-control" id="validationDefault02" placeholder="Surname">
            <label for="validationDefault02">Surname</label>
          </div>
        <div class="form-floating">
          <input type="text" class="form-control is-invalid" id="validationServerUsername" placeholder="name@example.com">
          <label for="floatingInput">UserName</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
          <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Re-Enter Password</label>
          </div>
        <div class= "button">
            <button class="w-50 btn btn-lg btn-primary" type="submit">Create Account</button>
          </div>
      </form>
    </div>
    </div>
    