.navbar{
    display: inline-flexbox;
    padding: 1em;
    margin: 1em;
    justify-self: start;
}

.me-3{
    display: inline-flexbox;
    color: greenyellow;
    font-size: 20px;
}
.me-3:hover{
    color: yellow;
}
.logo{
    
    padding: 2px;
    margin: 1em;

}


