/* .navbar{
    padding: 0em;
    margin: 0em;
    outline:solid silver;
    text-decoration: none;
}


a:hover{
    text-decoration: none;
    color:green;
}
.logo{

    outline: solid #8c9338;
    justify-content: center;
    margin: 1em; 

}

a{
    text-decoration: none;
    color: yellowgreen;
} 

 .navButtons{

    text-decoration: none;
    color: whitesmoke;
    padding: 1.3em;
    font-size: 20px;
    display: inline-flex;
    list-style:none;
    justify-content: space-around;

    animation: navOnLoad 400ms ease-in 250ms;
} 
li{

    text-decoration: none;
    background-color:#8c9338;
    padding: 15px;
    margin: 1%;

}
 

@keyframes navOnLoad{
    0%
    {
        opacity: 0;
        transform: translateY(100%)
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateZ(0%);

    }
}
@keyframes navLinkLoad{
    0%
    {
        opacity: 0;
        transform: translateZ(100%)
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(0%);

    }


}  */
.navbar-brand{
    padding: 5px;
        
}
.btn-group{
    padding: 5px;

}
.col {


    text-decoration: none;
}
.me-3{
    display: inline-flexbox;
    text-decoration: none;

}
.btnradio{
    padding: 4px;
}