<nav class="navbar navbar-expand-md bg-dark">
  <div id="navbarNavDropdown">
<span>

      <img class="logo" src="assets/images/TheRecordboxLarge.jpg"
          alt="logo" width=72 height=57>
      <button type="button" class="me-3 py-2" routerLink='/Home'>{{home}}</button>
      <button type="button" class="me-3 py-2 " routerLink='/vinyl'>{{vinyl}}</button>
      <button type="button" class="me-3 py-2 " routerLink='/access'>{{acce}}</button>
      <button type="button" class="me-3 py-2 " routerLink='/Login'>{{login}}</button>
      <button type="button" class="me-3 py-2 " routerLink='/checkout'>{{checkout}}</button>

    </span>

  </div>
</nav>