<nav class="navbar navbar-expand-sm bg-dark">
    <div id="navbarNavDropdown">
      <span class="flex-container">
        <button class="button"> <img src="assets/images/TheRecordboxLogo.jpg" class="LogoImg" alt="" /></button>
          <button type="button"class="btn btn" routerLink='/Home'>{{home}}</button>
          <button type="button"class="btn btn"  routerLink='/vinyl'>{{vinyl}}</button>
            <button type="button"class="btn btn"  routerLink='/access'>{{acce}}</button>
              <button type="button"class="btn btn" routerLink='/Login'>{{login}}</button>
        
      </span>
    </div>
  </nav>