<nav class="navigation">
    <div class="navbar navbar-expand-sm bg-dark" id="navbarNavDropdown">
      <span class="flex-container">
        <ul>
          <li class="nav-item"><a type="btn-btn" class="nav-link" routerLink='/Home'>{{home}}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink='/vinyl'>{{vinyl}}</a></li>
          <li class="nav-item"> <a class="nav-link" routerLink='/access'>{{acce}}</a></li>
            <li class="nav-item"> <a class="nav-link" routerLink='/Login'>{{login}}</a></li>
        </ul>
      </span>
    </div>
  </nav>