.col{
    align-content: center;
    padding: 2em;
    margin: 2%;
    background-color: #0a0a0a;
}

.card-body{
    background-color: #0a0a0a;  
    color: #0a0a0a;}
    
.card-text{
    background-color: #0a0a0a; 
    color: #0a0a0a;
}
.btn{
    background-color: #0a0a0a;
    color:whitesmoke;
    border-color:whitesmoke;
}
.alert{
    color: whitesmoke;
    background-color: #0a0a0a;
}
 .container{
    align-content: center;
    padding: 2em;
    margin: 2%;
    background-color: #0a0a0a;
   
} 
.item{
    padding: 1em;
    background-color: #0a0a0a;
    border-color:whitesmoke;
}
/* p{
    color: whitesmoke;
    padding: 1em;
} */
h6{
    background-color: #0a0a0a;
    text-align:  center;
    padding-top: 1em;
    color: #0a0a0a; ;
} 