<div class="card-Login">
  <h2>{{ title }}</h2>
  <form div class="card">
    <img
      class=""
      src="assets/images/TheRecordboxLogo.jpg"
      alt="logo"
      width="72"
      height="57"
    />
    <div class="card-body">
      <h1 class="card-text">
        Please sign in
      </h1>
      <div class="form-floating">
        <input
          type="email"
          class="form-control is-invalid"
          id="validationServerUsername"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating input">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
    </div>
    <div></div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
      />
      <label class="form-check-label" for="flexRadioDefault1"
        >Remember me</label
      >
    </div>
    <div class="container-fluid-lg">
      <div class="row justify-content-evenly">
        <div class="col-4">
          <button class="btn btn-lg btn-primary" type="submit" href='https://the-record-box.auth.eu-west-1.amazoncognito.com/login?client_id=7u7om8dajnpknpujta0phif86&response_type=code&scope=aws.cognito.signin.user.admin+email+openid+phone+profile&redirect_uri=http://localhost:4200'>Sign in</button>
        </div>
        <div class="col-4">
          <button class="btn btn-lg btn-primary" type="submit" routerLink='/signUp'>Sign Up</button>
        </div>
      </div>
    </div>
  </form>
</div>
