.card-Login{
   justify-content: center;
   align-items: center;
   margin: 1%;
   padding: 3%;
   max-width: 80%;
   background-color: #03771a;
}
.card-body, .card{
   background-color: #f0c92e;
}
.form-floating{
   margin: 8px;
}
.form-check{
   margin: 1%;
}
.card-text,.form-check-label{
   color: #d30521;

}
h2{
   color: #f0c92e;
}
