/* .jumbotron{
     align-items: stretch; 
    display:flexbox;
    object-fit: contain;
} */
.container{
    text-align: center;
    margin: 0em; 
    
 
}
.col-sm-4 {
    align-items: center;
    color: #03771a;
    font-size: x-large;
}