.card-body,li{
    background-color: black;
    border-color: whitesmoke;
    margin: 2%;
    color: whitesmoke;
  

}

.btn{
    margin:2%;
    color: whitesmoke;
    border-color: whitesmoke;
    background-color:black;

}
.alert-info {
    background-color: black;
    border-color: whitesmoke;
    color: whitesmoke;
}
.cart-items:active,span{
    color: whitesmoke;
}
.list-group-item,li,ul{
    background-color: black;
    color: whitesmoke;
}
.container{
    background-color: black;
    padding:2%;

}
.text,p{
    color: whitesmoke;
}
.list-group-item:active{
    color: whitesmoke;
    border-color: whitesmoke;
}