.card{
    background-color: #0a0a0a;
    border-color: whitesmoke;
    /* align-items: center; */
}
.card,h6{
    padding-top:1em ; 
    text-align:  center;
    color: whitesmoke;
}
.card-body,p{

    color: whitesmoke;}
    
.card-text{

    color:whitesmoke;
}
.btn{
    background-color: #0a0a0a;
    color:whitesmoke;
    border-color: whitesmoke;
}
.text{
    /* padding-top: 1px; */
    color: whitesmoke;
}