<div class=".container">
  <!-- <h2 class="title">{{ title }}</h2> -->
  <p class="card-text">
    We started out as a Mom and Pop store in 1980, with the need to clear a
    large collection of records.
<br>
    Somehow kept on picking up more records much to our suprise.
    That has been the way of in for forty years, Mom and Pop have retired
    (kind of...) and the next generation has kept on picking up records. If
    you wish call in to listen to something new or vist Online store, please
    do. Love the Record Box
  </p>
    <img
      class="bd-placeholder-img card-img-top p-"
      src="../../../assets/images/The Record Box.jpg"
    />
  </div>
