/* .container{
    margin: 0%;
    padding: 3%;
    background-color: #03771a;
}
title,h2{
    padding: 1%;
    color: #f0c92e;
}

.card-body{
    /* margin: 2%;
    padding: 1%; 
    background-color: #0a0a0a;
    color: #f0c92e;
    justify-content: center;

}
.card-text,p{
    color: #f0c92e;
    
}

.bd-placeholder-img{
    padding: 1%;
    border-color: #f0c92e;
    border-style: solid;
    max-width: 1200px;
    max-height: 800px;
}  */