 .container{
    margin: 0%;
    padding: 3%;
}
/* title,h2{
    padding: 1%;
    color: #f0c92e;
} */

.card-body{
 
    max-width: 100%;
    height: auto;
    /* padding: 1%; 
    color: #f0c92e;
    background-color: #0a0a0a;
    justify-content: center; */

}
.card-text,p{
    
    color: black;
    
}
/*
.bd-placeholder-img{
    padding: 1%;
    border-color: bla;
    border-style: solid;
    max-width: 1200px;
    max-height: 800px;
} 
*/
