body{
    font-family: "Lucida Console", "Courier New", monospace;
    background-color:black;
    color: black;
} 
.Background{
background-image: url("../src/assets/images/Turntable.jpg");

 height: 100%; 

 background-position: center;
 background-repeat: no-repeat;
 background-size:cover;
 background-attachment: fixed;
}
 


