body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    background-color:black;
    color: whitesmoke;
} 
 
body *{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    height: 100%;
    margin: 0;
    color: indigo
    ;
   
}




