<div class="album py-5 bg-dark">
  <div class="container">
    <h3>{{title}}</h3>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div *ngFor="let vinylProducts of allVinylProducts" class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" role="img" aria-label="Placeholder: " preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>{{vinylProducts.name}}</title>
                      
          
            <rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef"
              dy=".3em">{{vinylProducts.discription}}</text>
          </svg>

          <div class="card-body">
            <p class="card-text"></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn btn-outline-secondary">add to cart</button>

              </div>
              <small class="text-muted">{{vinylProducts.price}}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>